#notifications {
    position: fixed;
    width: 150px;
    right: 0;
    top: 0;
}

#registrationform {
    width: 500px;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
}
.notification {
    background-color: #edecd6;
    padding: 5px;
    opacity: 10;
}