{% extends 'base.html' %}
{% load staticfiles %}
{% block files %}
    <script type="text/javascript">
        var user = "{{user.profile.id}}";
        var companion = "{{ companion.id }}";
    </script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}
{% block content %}
    {{ user.username }}
    {{ companion.user.username }}
    <div id="chat">
        {% for message in previous_messages %}
            <div><p>{{ message.sender.user.username }}</p><p>{{ message.text }}</p><p>{{ message.date }}</p></div>
            <hr />
        {% endfor %}
    </div>
    <form id="chatform">
    {{ form.as_p }}
    <input type="hidden" name="companion" id="companion_id" value="{{ companion.id }}" />
    <input type="submit" value="Send" />
    </form>
{% endblock %}
